html,body {
	height: 100%;
	width: 100%;
}

@font-face {
		font-family: bebas-neue;
		src:url(../fonts/bebasneuebold.otf);
	}

@font-face {
	font-family: lato-regular;
	src:url(../fonts/latoregular.ttf);
}

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inside {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#square {
	background: url(../images/chair.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	width: 250px;
	height: 250px;
	background-color: red;
	background-blend-mode: multiply;
	position: relative;
	left: 100px;
	top: 100px;
	overflow: hidden;
	-webkit-transition: 1s;
}

#square:hover {
	-webkit-background-size: cover;
	width: 3200px;
	height: 1380px;
	left: -400px;
	top: -400px;
	-webkit-transition: 1s;
	z-index: 3;
}

#triangle {
	background: url(../images/broken.jpg) no-repeat center center fixed;
	background-color: blue;
	background-blend-mode: multiply;
	-webkit-background-size: cover;
	width: 0px;
	height: 0px;
	border-top: 125px solid white;
	border-left: 125px solid white;
	border-right: 125px solid transparent;
	border-bottom: 125px solid transparent;
	position: relative;
	overflow: hidden;
	left: 400px;
	top: 200px;
	-webkit-transition: 1s;
}

#triangle:hover {
	width: 2200px;
	height: 2200px;
	left: -500px;
	top: -700px;
	-webkit-transition: 1s;
	z-index: 3;
}

p {
	font-family: bebas-neue;
	font-size: 6em;
	color: white;
}

a {
	font-family: bebas-neue;
	font-size: 6em;
	color: black;
}

b {
	font-family: lato-regular;
	font-size: 1em;
	color: white;
	line-height: 130%;
}


#depression {
	position: absolute;
	left: 500px;
	top: 500px;
}

.paragraph {
	position: absolute;
	left: 503px;
	top: 600px;
	width: 350px;
}

#anxiety {
	position: absolute;
	left: 500px;
	top: 500px;
	z-index: 99;
}

#back {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 99;
}

#title {
	position: fixed;
	top: 200px;
	right: 100px;
	z-index: 0;
	text-align: right;
	font-style: bold;

}
